<h1 mat-dialog-title>Modifier la Tâche</h1>
<div mat-dialog-content>
  <form #editForm="ngForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom de la tâche</mat-label>
      <input matInput [(ngModel)]="data.name" name="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="data.description" name="description" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Durée (min)</mat-label>
      <input matInput type="number" [(ngModel)]="data.duration" name="duration" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tarif (€)</mat-label>
        <input matInput type="number" [(ngModel)]="data.price" name="price" required>
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="!editForm.form.valid">Enregistrer</button>
</div>
