<h1 mat-dialog-title>Gérer les Matériaux</h1>
<div mat-dialog-content class="dialog-content">

  <!-- Formulaire pour ajouter un matériau -->
  <div class="add-material-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nom du matériau</mat-label>
      <input matInput [(ngModel)]="newMaterial.name" placeholder="Ex: Perceuse">
    </mat-form-field>
    <mat-form-field appearance="outline" class="quantity-field">
      <mat-label>Quantité</mat-label>
      <input matInput type="number" [(ngModel)]="newMaterial.quantity">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addMaterial()" [disabled]="!newMaterial.name">Ajouter</button>
  </div>

  <!-- Tableau des matériaux -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 material-table">

    <!-- Colonne Nom -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="element.name">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Colonne Quantité -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantité </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="outline">
          <input matInput type="number" [(ngModel)]="element.quantity">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Colonne Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="updateMaterial(element)">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteMaterial(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Fermer</button>
</div>
