<h2 mat-dialog-title>Ajouter une nouvelle tâche</h2>
<div mat-dialog-content [formGroup]="taskForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nom de la tâche</mat-label>
    <input matInput formControlName="name" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" required></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Service Associé</mat-label>
    <mat-select formControlName="serviceId" required>
      <mat-option *ngFor="let service of services" [value]="service.id">
        {{ service.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-raised-button color="primary" (click)="createTask()" [disabled]="!taskForm.valid">Créer</button>
</div>
